<div class="center-align">
  <div class="hoverable">
    <div class="z-depth-3">
      <h1 class="card-panel #26c6da cyan lighten-1">New Artist</h1>
    </div>
  </div>
</div>

<br>
<%= render 'form', artist: @artist %>
<br>
<%= link_to 'Back', artists_path, class: "btn cyan" %>
