<div class="center-align">
  <div class="hoverable">
    <div class="z-depth-3">
      <h1 class="card-panel #388e3c red darken-2">Edit this Song</h1>
</div>
</div>
</div>
<br>
<%= render 'form', song: @song %>
<br>
<%= link_to 'Back', artist_songs_path(@artist), class: "btn cyan"%>
