<div class="center-align">
  <div class="hoverable">
    <div class="z-depth-3">
      <h1 class="card-panel #c2185b purple darken-2">New Song</h1>

      </div>
      </div>
      </div>
      
      <br>
      <%= render 'form', song: @song %>
      <br>
      <%= link_to 'Back', artist_songs_path(@artist) %>
      