<div class="center-align">
  <div class="hoverable">
    <div class="z-depth-3">
      <h1 class='card-panel #e040fb purple accent-2'><%= @billboard.name %></h1>
      <div class="card-panel teal lighten-2">
      <h6><%= @billboard.genre %></h6>
      </div>
      <br>
    </div>
  </div>
</div>
<br>
<br>
<div class="center-align" >
<%= link_to "Back to Billboards", billboards_path, class: "btn blue" %>
</div>